.home__container{
    font-family: var(--page);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 80vh;
}

.home__container::after{
    content: "";
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 40px;
    background-color: var(--header);
}

.home__container::before{
    width: 100%;
    content: "";
    height: 50px;
    background-color: var(--black);
    position: fixed;
    bottom: 0;
}

.home__figure{
    position: fixed;
    bottom: 0;
    background-color: white;
    border-radius: 50%;
    border: 7px solid black;
    width: 70px;
    height: 70px;
    z-index: 10;
}

.home__figure::after{
    content: "";
    position: fixed;
    bottom: 17.5px;
    margin-left: 11px;
    background-color: rgb(32, 32, 32);
    border-radius: 50%;
    border: 7px solid black;
    width: 35px;
    height: 35px;
    z-index: 13;
}

.home__logo{
    max-width: 90vw;
    margin-bottom: 60px;
}

.home__h2{
    font-size: 50px;
    color: var(--header);
    text-align: center;
}

.home__p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    text-align: center;
}

form{
    margin: 20px 0;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

input{
    padding: 10px;
    width: 350px;
    height: 40px;
    border: none;
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.555);
}
button{
    text-align: center;
    width: 150px;
    height: 40px;
    border: none;
    background-color: var(--btn);
    color: white;
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.555);

}

.home__btn:hover{
    opacity: 0.9;
}

@media (max-width:630px) {

    form{
        max-width: none;
        width: 100%;
    }

    input{
        width: 60%;
    }

    button{
        width: 30%;
    }
}
