.pokedex__container{
    padding: 0 10vw;
    margin-top: 120px;
    font-family: var(--page);
}

.pokedex__p{
    width: 80vw;
}

.pokedex__span{
    color: var(--btn);
    font-weight: 700;
}

.pokedex__form{
    display: inline-block;
}
