.pokedex__container{
    padding: 0 10vw;
    margin-top: 130px;
    font-family: var(--page);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.pokedex__p{
    width: 80vw;
    text-align: center;
}

.pokedex__span{
    color: var(--btn);
    font-weight: 700;
}

.pokedex__form{
    display: inline-block;
}

.pokedex__container--div{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 450px) {
    .pokedex__container{
        display: block;
    }
    .pokedex__p{
        width: 100%;
    }
}
